doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0' name='viewport')
  body
    h5= title
    noscript
      h3#warning !!!警告: 您禁用了JavaScript，请开启它。<br>如果您禁止使用JavaScript，将无法使用我们的服务！
    script(src='/javascripts/vue.min.js')
    script(src='/javascripts/axios.min.js')
    block content
    hr
    footer
         a(href='/') 首页
         span &nbsp;&nbsp;
         a(href='https://github.com/kchown/naiveboom' target='_blank') GitHub